html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

div, main {
  height: 100%;
}

#map {
    height: 100%;
    width: 100%;
    position: relative;
}

.mdl-layout__drawer-button, .mdl-layout__drawer{
    left: initial;
    right: 0;
}

.mdl-layout__drawer{
    transform:translateX(250px);
}

.mdl-layout__header-row {
  padding: 0 40px 0 40px; !important
}

.mdl-textfield--expandable {
  max-width: 50%;
}

.material-icons {
  margin-top: 6px;
}
